:root {
    color-scheme: light;
}

[data-theme="dark"] {
    color-scheme: dark;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}